# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=schedule-back
DB_PASSWORD=1111
DB_NAME=school-schedule-db

# TypeORM Configuration
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Application Configuration
PORT=3000
